@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {overflow-x: hidden;font-family: 'Space Mono', monospace;}


.hero-full-screen {
  height:100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background-image: url('http://media2.giphy.com/media/wmsjvA5UH8Xqo/giphy.gif'); */
  background-opacity:
  background: white;
  background-size: cover;
}

.middle-content {
  top:50%;
  text-align:center;
  color: #fefefe;
  width:auto;
  height:auto;
  z-index:3;
}

.fill {

}

.middle-content h1 {
  text-transform:uppercase;
  font-weight:600;
  font-size:12vw;
  width:100%;
  /* transform: translate(50%,50%); */
  position: relative;

  color:##4FA58A;
  margin: 0;

  /*Animation*/

  animation: glitch3 2.5s infinite;
}

.middle-content h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.middle-content h1:nth-child(3) {
  color: red;
  animation: glitch1 2.5s infinite;
}

/*Keyframes*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}


.middle-content h2 {
  color: black;
  font-size:20px;
  margin-bottom:100px;
}

.middle-content img {
  margin-right:50px;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 30px;
  font-weight:600;
  cursor: pointer;
  text-decoration: underline;
}

.contentSec {
  padding-top:5em;
  padding-bottom:5em;
  overflow:hidden;
}

.row {
    max-width: 100vh;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

#content-section-1 img {
  position:absolute;
  right:0;
  margin-left:500px;
  /* transform: rotate(290deg); */
}

#content-section-1 ul {
  list-style-type: none;
  margin:0;
}

#content-section-1 h1 {
  font-weight: bolder;
  font-family: 'Space Mono', monospace;
  font-size:50px;
  text-transform: uppercase;
  color:red;
}

#content-section-1 a {
  /* font-weight: 600; */
  text-transform: uppercase;
  font-size:50px;
  color:black;
  text-decoration: underline;
}

#content-section-1 a:hover {
  text-decoration:line-through;
}

#content-section-1 li {
  line-height: 50px;
}

#content-section-2 {
  width:100%;
  position:relative;
  background: white;
}

#content-section-3 {
  padding-top:10em;
  padding-bottom:5em;
}

#content-section-3 img {
  position:absolute;
  left:0;
  z-index:0;
  transform: rotate(180deg);
}

#content-section-3 p {
  /* font-weight: 600; */
  line-height: 50px;
  /* font-style: italic; */
  font-size:40px;
  color:black;
  /* text-align:center; */
  text-transform: uppercase;
  z-index:100;
}

#content-section-3 a {
  font-weight: 600;
  font-size:40px;
  color:red;
  text-decoration:underline;
}

#content-section-4 {
  background-color: red;
  width:100%;
  height:500px;
}


.gif{
    width:480px;
    height:386px;
    background-image:url('https://media.giphy.com/media/8cMMs939wIlDWO8pB7/giphy.gif');
    background-size: cover;
    position:absolute;
    z-index:0;
    left:0;
    bottom:0;
}
.gif2{
    width:480px;
    height:386px;
    background-size:cover;
    background-image:url('https://media.giphy.com/media/8cMMs939wIlDWO8pB7/giphy.gif');
    position:absolute;
    z-index:0;
    right:0;
    bottom:0;
}

.twitter-timeline {
  position:absolute;
  margin-left:auto;
  margin-right:auto;
}

footer {
  width:100%;
  height:auto;
  background:black;
  padding-top:2em;
  padding-bottom:2em;
  text-align: center;
  position: relative;
  /* position:fixed;
  bottom:0; */
}

/* Mobile & small screen responsive styles */
@media screen and (max-width: 39.9375em) {
  #content-section-3 p {
    padding:5%;
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }

  #content-section-3 a {
    /* font-weight: 600; */
    font-size:25px;
    color:red;
    text-decoration:underline;
  }

  #content-section-3 img {
    z-index:0;
    opacity:0.3;
  }

  #content-section-1 img {
    z-index:0;
    opacity:0.3;
  }

  #content-section-1 {
    padding-left:5%;
  }

  #content-section-1 a {
    font-size:25px;
  }

  #content-section-1 h1 {
    font-size:25px;
  }
}
