
body {
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  padding: 0;
  margin: 0!important;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  background-color:black;
}
canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index:1;
  height:100%;
}

.page-wrapper {
  position: relative;
  padding: 0px;
  /* margin: 48px 48px; */
  /* margin-left:48px;
  margin-right:48px; */
  /* position: absolute;
  left: 0;
  top: 0; */
  height:100%;
  width:100vw;
  /* width: calc(100% - 2*48px); */
  word-wrap: break-word;
  z-index:1;
  display:flex;
  align-items:center;
  justify-content:center;
  /* background-color:black; */
}

/* MOBILE STYLES */
.slogan { 
  font-family: input-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size:0.2em!important;
  font-weight: 100!important;
  color:yellow;
  -webkit-text-stroke: 0px white;
  -webkit-text-fill-color: white;
  line-height: 30px;
  font-style:italic;
}
.title { 
  color:white;
  /* width:100%; */
font-size:4.1em;
-webkit-text-stroke: 2px white;
-webkit-text-fill-color: transparent;
font-weight: 900;
line-height: 90%;
}
svg {
  fill:white;
}
.page-wrapper a { 
  font-family: 'Work Sans', sans-serif;
  color:white;
  position: absolute;
 font-weight: 100;
 font-size: 0.4em;
 text-decoration: none;
  /* left:45%; */
  bottom:0;
  margin-bottom:40px;
  text-align: center;
}
.navigation { 
  position:fixed;
  top:50%;
  right:10px;
  margin:0;
  text-align:right;
  z-index:13;
}
.arrow {
  margin-bottom:30px!important;
  position: absolute;
  bottom: 0px;
}
.about { 
  position: relative;
  height:100%;
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  background-color: black;
  /* text-align:center; */
}
.about p { 
  text-align:left;
  font-size:1.5em;
  /* padding-top:25%; */
  padding-left: 20%;
  padding-right:15%;
  /* padding-bottom:20%; */
  text-transform: uppercase;
  font-weight: 700;
  color:white;
  /* word-wrap:break-word;   */
}
.about span { 
  -webkit-text-stroke: 1px white;
-webkit-text-fill-color: transparent;
}
  /* animation for typing effect */
  @keyframes typing { from { width: 0; } }
  @keyframes blink-caret { 50% { border-color: transparent; } }
  @-webkit-keyframes typing { from { width: 0; } }
  @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
  .type {
    border-right: .1em solid white;
    overflow: hidden;
    animation: typing 7s steps(13, end),
               blink-caret .5s step-end infinite alternate;
    -webkit-animation: typing 7s steps(13, end),
               blink-caret .5s step-end infinite alternate;
  }

  .projects { 
    position:relative;
    margin:0;
    width:100%;
    /* height:100%; */
    background-color: black;
    text-align:center;
    padding-top:5%;
    padding-bottom:20%; 
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .projects a { 
    position:relative;
    line-height:0;
    color:white;
    font-family: 'Work Sans', sans-serif;
    font-size:5em;
    font-weight:700;
    padding:0;
    text-decoration: none;
  }
  .projects a:hover {
    text-decoration: line-through;
    color:white;
  }
  .projects li p { 
    font-family: input-serif, serif;
    font-weight: 200;
    font-style: normal;
    padding-top:10px;
    margin:0;
    color:white;
    font-size:0.7em!important;
    font-style:italic;

  }
  .projects li { 
    margin-top:30px;
    z-index:5;
    position:relative;
    /* color:white;
    font-size:4em;
    text-decoration: underline; */
  }
  .projects ul {
    list-style: none;
    padding:0;
    margin:0;
  }
  

   /* FOOTER STYLES SECTION */
   footer { 
    text-align:center;
    margin:0;
    width:100%;
  
    /* text-align:center; */
    padding-top:5%;
    /* padding-left: 20%;
    padding-right:10%; */
    padding-bottom:5%;
}
footer a { 
  color:white;
  text-decoration: none;
}
footer a:hover { 
  text-decoration: line-through;
}
footer h1 { 
font-size:1.5em;
}

img {
  position: absolute;
  z-index: -2;
  width:70%;
  visibility: hidden;
  transform: translateX(-50%)  translateY(-50%)!important; 
  pointer-events:none
}

img.visible {
  visibility:visible;
}


/* Medium devices (tablets, 567px and up) */
@media (min-width: 567px) { 


          .slogan { 
            line-height: 50px;
          }
          
          .title { 
          font-size:5em;
          }
          
          /* NAVIGATION STYLES SECTION */
          .navigation { 
            top:50%;
          }
          .navigation h1 { 
            color: white; font-size:1em;font-family: 'Work Sans', sans-serif;margin:0;opacity:0.3;
          }
          .active { 
            text-decoration: line-through;
          }
          
          /* ABOUT SECTION STYLES */
          .about p { 
            font-size:1.5em;
            color:white;
          }
          
          /* PROJECT STYLES SECTION */
          
        
          .projects li p { 
            line-height:0em;
            font-size:1em;
          }
          .projects li { 
            /* margin-top:50px; */
            z-index:5;
            /* color:white;
            font-size:4em;
            text-decoration: underline; */
          }
          
        }     
 

/* Small devices (landscape phones, 768px and up) */
@media (min-width: 768px) {  
          .title { 
            font-size:7em;
          }

          .about p { 
            font-size:2.5em;
            padding-left: 20%;
            padding-right: 15%;
            /* padding-bottom:10%; */
            text-transform: uppercase;
            font-weight: 700;
            color:white;
            
          }

          .projects li a { 
            font-size:3.5em;
            line-height:normal;
          }
          .projects li p { 
            font-size:1em;
          }
        }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
          .title {
            font-size:9em;
          }
          .projects li p { 
            font-size:1em!important;
          }
          .slogan { 
          font-size:0.1em!important;
          }
          .projects li a { 
            font-size:4.5em;
          }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
          .title {
           font-size:13em;
          }
          .about p {
            font-size:3em; 
          }
          .projects li a { 
            font-size:5em;
          }

 }